selector:body {background-color: #00FFFF;
               font = family: arial, sans-serif;
               color:#00FFFF;
              }
.kartu-profil {
  width: 300px;
  margin: 50px auto
  paddind: 20px;
  background-color: blue;
  border_radius: 15px
    .kartu-profil;
  text-alling:center; }
